.contactBlock {
    background-color: #e9ff72;
    height: 100vh;
    padding: 50px 0;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
}

.form {
    border: 1px solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input, .form textarea {
    width: 100%;
}

.title {
    background-color: #b6fff3;
}

.button {
    padding: 10px 20px;
    background-color: aqua;
}