@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.remoteWork {
  padding: 100px 0;
  background-color: $bgColor;
  position: relative;
  z-index: 3;

  .container {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
}





