.remoteWork {
    background-color: #7f88ff;
    height: 200px;
}

.container {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.title {
    background-color: #19ff89;
}

.link {
    text-decoration: none;
    background-color: #cdbdff;
}