@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.remoteWork {
  background-color: $bgColor;
  min-height: 50vh;
  position: relative;
  z-index: 3;

  .container {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
}





