@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.project {
  background-color: $bgSecondColor;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 10px;

  .imgContainer {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
      @include blackHover(absolute, '', black, 0, 0, 0, 0, 0.4);
    }
  }

  .projectInfo {
    padding: 10px 5px;

    .projectTitle {
      color: $primaryColor;
      @include text($fontPrimary, 30px, 1.2, 400);
      margin: 0 0 18px;
    }

    .projectDescription {
      @include text($fontDescription, 15px, 1.44, 400);
      color: $descriptionColor;
      letter-spacing: 0;
      word-break: break-word;
    }
  }
}











