@import "./../../styles/sass/variables";
@import "./../../styles/sass/mixins";

.main {
  .subtitle{
    margin: 0 0 54px 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $primaryColor;
    @include text($fontPrimary, 18px, 1.2, 500)
  }
  .title {
    margin: 0 0 34px 0;
    padding: 0 0 15px 0;
    letter-spacing: 0;
    position: relative;
    color: $description2Color;
    @include text($fontPrimary, 48px, 1.2, 400);

    &::after {
      content: '';
      position: absolute;
      background-color: rgba(255, 255, 255, .2);
      bottom: 0;
      height: 2px;
      width: 150px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .description {
    margin: 0 0 57px 0;
    padding: 0;
    letter-spacing: 0;
    color: $descriptionColor;
    @include text($fontDescription, 30px, 44px, 400);
  }
}


