@import "./variables";

@mixin text($fontFamily, $fontSize, $lineHeight, $fontWeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  //color: $primaryColor;
}

@mixin blackHover($position, $content, $backgroundColor, $top, $bottom, $left, $right, $opacity) {
  position: $position;
  content: $content;
  background-color: $backgroundColor;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
  opacity: $opacity;
}