@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.footerBlock {
  background-color: $bgColor;
  padding: 100px 0 0 0;

  .container {
    flex-direction: column;
    justify-content: flex-start;

    .socialContainer {
      border: 1px solid;
      background-color: #7f88ff;
      width: 250px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      align-items: center;

      .social {
        width: 50px;
        height: 50px;
        background-color: #ac6a1b;
      }
    }

    .about {
      @include text($fontDescription, 18px, 30px, 400);
      color: $descriptionColor;
    }
  }
}







