@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.footerBlock {
  background-color: $bgColor;
  padding: 100px 0 0 0;
  width: 56%;

  .container {
    flex-direction: column;
    justify-content: flex-start;

    .title {
      font-size: 20px;
      line-height: 1.2;
      font-family: 'Jost', sans-serif;
      color: $primaryColor;
      font-weight: 400;
      padding-bottom: 20px;
    }

    .socialContainer {
      border: 1px solid;
      background-color: #7f88ff;
      width: 250px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      align-items: center;

      .social {
        width: 50px;
        height: 50px;
        background-color: white;
        background-size: cover;
        background-position: center;
      }
    }

    .about {
      @include text($fontDescription, 18px, 30px, 400);
      color: $descriptionColor;
    }
  }
}







